{% extends "base.html" %}

{% block content %}
  <h1 class="display-2 text-center">Newspaper Agency Tracker</h1>
  <hr>
  <div class="row mx-auto">
    <div class="col-md-4" style="padding-top: 10%">
      <div class="card text-bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header display-6 text-center"><strong><em>Newspapers</em></strong></div>
        <div class="card-body">
          <h5 class="card-title display-1 text-center">{{ num_newspapers }}</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header display-6 text-center"><strong><em>Editors</em></strong></div>
        <div class="card-body">
          <h5 class="card-title display-1 text-center">{{ num_publishers }}</h5>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="padding-top: 10%">
      <div class="card text-bg-light mb-3" style="max-width: 20rem;">
        <div class="card-header display-6 text-center"><strong><em>Topics</em></strong></div>
        <div class="card-body">
          <h5 class="card-title display-1 text-center">{{ num_topics }}</h5>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
