{% extends "base.html" %}

{% block title %}<title>{{ newspaper.title }}</title>{% endblock %}
{% block content %}
  <p><a href="{{ newspaper.topic.get_absolute_url }}">{{ newspaper.topic }}</a></p>
  <h1 class="display-4 fst-italic">
    {{ newspaper.title }}
  </h1>
  <p><h3 class="mb-0">{{ newspaper.content }}</h3></p>
  <p>
    <em>
      Edited {{ newspaper.published_date }} by
      <a href={{ newspaper.publishers.first.get_absolute_url }}>
        {{ newspaper.publishers.first.username }}
      </a>
        {% if newspaper.publishers.count > 1 %} and others{% endif %}
    </em>
  </p>
  <br>
  <div class="float-left">
    <a href="{% url 'tracker:newspaper-delete' pk=newspaper.id%}" class="btn btn-danger link-to-page">
      Delete
    </a>
    <a href="{% url 'tracker:newspaper-update' pk=newspaper.id%}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </div>
{% endblock %}
