{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}<title>Newspapers</title>{% endblock %}

{% block content %}

  <div class="row mb-4">
    <div class="col">
      <h1>
        Newspaper list
        <a href="{% url 'tracker:newspaper-create' %}" class="btn btn-primary link-to-page float-sm-end">
          Create
        </a>
      </h1>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <form action="" method="get" class="form-check-inline">
          {{ search_form|crispy }}
      </form>
    </div>
  </div>
  <div class="row">
    {% if newspaper_list %}
      {% for newspaper in newspaper_list %}
        <div class="col-md-6 mb-4">
          <div class="row no-gutters border rounded overflow-hidden flex-md-row shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <strong class="d-inline-block mb-2 text-primary">{{ newspaper.topic.name }}</strong>
              <h3 class="mb-0">{{ newspaper.title }}</h3>
              <div class="mb-1 text-muted">{{ newspaper.date_created }}</div>
              <p class="card-text mb-auto">{{ newspaper.description }}</p>
              <a href="{% url 'tracker:newspaper-detail' pk=newspaper.id%}" class="stretched-link">Check details</a>
            </div>
            <div class="col-auto d-none d-lg-block">
              <a href="{% url 'tracker:newspaper-detail' pk=newspaper.id %}">
                {% load static %}
                <img src="{% static 'newspaper.png' %}" alt="My image" width="220" height="190">
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <div class="col">
        <p>There are no newspapers for tracking.</p>
      </div>
    {% endif %}
  </div>
{% endblock %}
