{% extends "base.html" %}

{% block title %}<title>{{ newspaper.title }}</title>{% endblock %}
{% block content %}
  <p>{{ newspaper.topic }}</p>
  <h1 class="display-4 fst-italic">
    {{ newspaper.title }}
  </h1>
  <p><h3 class="mb-0">{{ newspaper.content }}</h3></p>
  <p>
    <em>
      Edited {{ newspaper.published_date }} by <a href="#">{{ newspaper.publishers.first.username }}</a>
        {% if newspaper.publishers.count > 1 %} and others{% endif %}
    </em>
  </p>
  <br>
  <div class="float-left">
    <a href="#" class="btn btn-danger link-to-page">
      Delete
    </a>
    <a href="#" class="btn btn-secondary link-to-page">
      Update
    </a>
  </div>
{% endblock %}
