{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}<title>Editors</title>{% endblock %}
{% block content %}
    <h1>
      Editor List
      <a href="{% url 'tracker:redactor-create' %}" class="btn btn-primary link-to-page float-sm-end">
        Create
      </a>
    </h1>

    <form action="" method="get" class="form-check-inline">
      {{ search_form|crispy }}
    </form>
    {% if redactor_list %}
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th class="title">Username</th>
          <th>First name</th>
          <th>Last name</th>
          <th>Years of experience</th>
        </tr>
      </thead>
    {% for redactor in redactor_list %}
      <tr>
        <td class="title"><a href={{ redactor.get_absolute_url }}>{{ redactor.username }}</a></td>
        <td>{{ redactor.first_name }}</td>
        <td>{{ redactor.last_name }}</td>
        <td>{{ redactor.years_of_experience }}</td>
      </tr>
    {% endfor %}

    </table>
    {% else %}
      <p>There are no redactors for tracking.</p>
    {% endif %}
{% endblock %}
