{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}<title>Topics</title>{% endblock %}

{% block content %}
  <h1>
    Topic List
    <a href="{% url 'tracker:topic-create' %}" class="btn btn-primary link-to-page float-sm-end">
      Add new topic
    </a>
  </h1>

  <form action="" method="get" class="form-check-inline">
      {{ search_form|crispy }}
  </form>

  {% if topic_list %}
    <table class="table table-sm table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Number of newspapers</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>

      {% for topic in topic_list %}
        <tr>
          <td>
            <a href="{% url "tracker:topic-detail" pk=topic.id %} ">{{ topic.name }}</a>
          </td>
          <td>
            {{ topic.newspapers.count }}
          </td>
          <td>
              <a href="{% url 'tracker:topic-update' pk=topic.id %}" type="button" class="btn btn-secondary">
                Rename
              </a>
            </td>
            <td>
              <a href="{% url 'tracker:topic-delete' pk=topic.id %}"  type="button" class="btn btn-danger">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no topics for tracking.</p>
  {% endif %}
{% endblock %}
