{% extends "base.html" %}

{% block title %}<title>{{ object.name }}</title>{% endblock %}
{% block content %}
  <h1>{{ object.name }}</h1>
  <p>Topic ID: {{ object.id }}</p>
  {% if newspapers %}
    <h3>All newspapers of this topic</h3>
  {% endif %}
  {% for newspaper in newspapers %}
  <ul>
    <li>
        {{ newspaper.title }} (edited {{ newspaper.published_date|date:"F j, Y" }}
        by {{ newspaper.publishers.first }}
        {% if newspaper.publishers.count > 1 %} and others{% endif %})
    </li>
  </ul>
  {% empty %}
      <h6>No newspapers found for this topic.</h6>
    {% endfor %}
{% endblock %}
