body {
    margin-top: 20px;
}

.mb-0 {
    font-family: "Playfair Display", serif;
}

.font-italic {
    font-style: italic!important;
}

.display-4 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
