<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark sidebar"  style="width: 16%; height: 100%; position: fixed">
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="{% url 'tracker:index' %}" class="nav-link {% if request.path == '/' %}active{% endif %}">
        Home
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'tracker:redactor-list' %}" class="nav-link {% if 'redactor' in request.path %}active{% endif %}">
        Editors
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'tracker:newspaper-list' %}" class="nav-link {% if 'newspaper' in request.path %}active{% endif %}">
        Newspapers
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'tracker:topic-list' %}" class="nav-link {% if 'topic' in request.path %}active{% endif %}">
        Topics
      </a>
    </li>
  </ul>
  <hr>
  <div class="useraccess">
    {% if user.is_authenticated %}
    <li class="list-group-item">User: <a href="{{ user.get_absolute_url }}">{{ user.get_username }}</a></li>
      <br>
    <li class="list-group-item"><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
  {% else %}
    <li class="list-group-item"><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
  {% endif %}
  </div>
</div>
